<!DOCTYPE HTML>
<html>
<head>
    <title>Rommee</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Zilla+Slab:300" rel="stylesheet">
    <link rel="stylesheet" href="static/game_styles.css?id=12346rfsrs39">
    <link rel="stylesheet" href="static/css-loader.css?id=1234">
    <link rel="stylesheet" href="static/draganddrop.css?id=1234">
    <style>

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"
            integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="static/dragandrop.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        function removeDraggable(toRemoveFrom) {
            return toRemoveFrom.substring("draggable_".length, toRemoveFrom.length + 1);
        }

        function    createStoneDiv(stone,inTable=false) {
            let text = "";
            if (stone.value != 0) {
                text =
                    "<div id='draggable_" + stone.id + "' class='ui-widget-content " + stone.color.toLowerCase() + "_stone";
                if (inTable){
                    text = text + " centerStone";
                }
                text = text+ "'><span class='center'>" +
                    stone.value + "</span></div>";
            } else { //joker
                 text =
                    "<div id='draggable_" + stone.id + "' class='ui-widget-content joker";
                 if (inTable){
                    text = text + " centerStone";
                 }
                 text = text+" '><span class='center'>" +
                    stone.value + "</span></div>";
            }
            return text;
        }

        function isOverlap(idOne, idTwo) {
            let objOne = $(idOne),
                objTwo = $(idTwo),
                offsetOne = objOne.offset(),
                offsetTwo = objTwo.offset(),
                topOne = offsetOne.top,
                topTwo = offsetTwo.top,
                leftOne = offsetOne.left,
                leftTwo = offsetTwo.left,
                widthOne = objOne.width(),
                widthTwo = objTwo.width(),
                heightOne = objOne.height(),
                heightTwo = objTwo.height();
            let leftTop = leftTwo > leftOne && leftTwo < leftOne + widthOne && topTwo > topOne && topTwo < topOne + heightOne,
                rightTop = leftTwo + widthTwo > leftOne && leftTwo + widthTwo < leftOne + widthOne && topTwo > topOne && topTwo < topOne + heightOne,
                leftBottom = leftTwo > leftOne && leftTwo < leftOne + widthOne && topTwo + heightTwo > topOne && topTwo + heightTwo < topOne + heightOne,
                rightBottom = leftTwo + widthTwo > leftOne && leftTwo + widthTwo < leftOne + widthOne && topTwo + heightTwo > topOne && topTwo + heightTwo < topOne + heightOne;
            return leftTop || rightTop || leftBottom || rightBottom;
        }



        $(document).ready(function () {
            //var socket = io({transports:['websocket']});
            var socket = io();

            var dropspace = [];
            var consolidatedDropspace = [];
            var temp_dropped = null;
            var playerId = null;
            var activePlayerComponents = [];
            activePlayerComponents["next_stone_button"] = "next_stone_button"

            function renderSortDeck(numberOfRows, numberOfColums){
                let table = $('<table>').addClass('sortTable');

                for (i=0;i<numberOfRows;i++){
                    let row = $('<tr>').addClass('sortTableRow')
                    for (j=0;j<numberOfColums;j++){
                        let col = $('<td>').addClass('sortTableColumn');
                        let wrapperDiv = $('<div>').addClass('wrapper');
                        wrapperDiv.attr('id',"sorttable_"+i+"_"+j);

                        wrapperDiv.droppable({
                            drop: function (event, ui) {
                                console.log(ui.draggable[0].id)
                                $("#"+this.id).addClass("highlightColumn");
                                //$('#css_loader_screen').addClass('is-active');
                                socket.emit('add_stone_position',
                                    {
                                        stone: removeDraggable(ui.draggable[0].id),
                                        position: this.id
                                });
                                $("#"+this.id).append($("#"+ui.draggable[0].id));
                                let element = $("#"+ui.draggable[0].id)[0];
                                element.style.setProperty("left","0px");
                                element.style.setProperty("top","0px");
                                element.style.setProperty("position","absolute");
                                element.style.setProperty("padding-left","5px");
                                element.style.setProperty("padding-top","5px");
                                //element.style.setProperty("transform","translate(-50%, -50%)");
                            }
                        });
                        col.append(wrapperDiv);
                        row.append(col);
                    }
                    table.append(row);
                }
                return table;
            }

            $("#sortDeck").append(renderSortDeck(7,10));

            socket.on('tempSpace', function (msg) {
                $('#tempSpace').empty()
                $('#css_loader_screen').removeClass('is-active');

                let table = $('<table>').addClass('deck_table');
                let row = $('<tr>').addClass('deck_row')
                let clickIds = [msg.data.length]
                for (let i = 0; i < msg.data.length; i++) {
                    let col = $('<td>').addClass('deck_col');
                    let stone = msg.data[i]
                    clickIds[i] = "temp_" + stone.id
                    let text = ''
                    if (stone.value == 0) {
                        text = text +
                            "<div class='joker' style='display: table;' id='temp_" +
                            stone.id + "'><div style='display: table-cell; vertical-align: middle;'>&nbsp;</div></div>";
                    } else {
                        text = text +
                            "<div class='" + stone.color.toLowerCase() + "_stone' style='display: table;' id='temp_" +
                            stone.id + "'><div style='display: table-cell; vertical-align: middle;'>" + stone.value + "</div></div>";
                    }

                    col.append(text);
                    row.append(col);
                }
                table.append(row);
                $('#tempSpace').append(table);
                if (temp_dropped != null) {
                    $('#' + temp_dropped).remove();
                    temp_dropped = null;
                }

                for (let i = 0; i < clickIds.length; i++) {
                    $("#" + clickIds[i]).click(function () {
                        socket.emit('pick_from_temp_space', {stone: this.id.substring("temp_".length, this.id.length + 1)});
                        return false;
                    });
                }

            });


            socket.on('connect', function () {
                socket.emit('list_games');
                $('#css_loader_screen').removeClass('is-active');
            });

            socket.on('renderSortDeck', function (msg) {
                let pile = msg.data;
                $("#sortDeck").empty();
                $("#sortDeck").append(renderSortDeck(7,10));

                for (let j = 0; j < pile.length; j++) {
                    let stone = pile[j];
                    let text = createStoneDiv(stone,true);
                    $('#'+stone.position).append(text);
                }

            });

            socket.on('getdeck', function (msg) {
                $('#mydeck').empty();
                $("#sortDeck").empty();
                $("#sortDeck").append(renderSortDeck(7,10));
                $('#list_all_games').empty();

                playerId = msg.playerId

                let pile = msg.data

                for (let j = 0; j < pile.length; j++) {
                    let stone = pile[j];

                    if (stone.position){
                        let text = createStoneDiv(stone,true);
                        $('#'+stone.position).append(text);
                    }else{
                        let text = createStoneDiv(stone,false);
                        $('#mydeck').append(text);
                    }
                }

                pile = msg.data
                for (let j = 0; j < pile.length; j++) {
                    $("#draggable_" + pile[j].id).draggable();
                }
            });


            socket.on('next_stone', function (msg) {
                $('#next_stone_button').hide();
                $('#css_loader_screen').removeClass('is-active');
                let stone = msg.data
                let text = createStoneDiv(stone);

                $('#mydeck').append(text);
                $("#draggable_" + stone.id).draggable();



            });

            socket.on('init_game', function (msg) {
                $('#game_id').val(msg.data);
            });

            socket.on('disconnect', (reason) => {
              if (reason === 'io server disconnect') {
                // the disconnection was initiated by the server, you need to reconnect manually
                socket.connect();
              }
              // else the socket will automatically try to reconnect
            });

            socket.on('next_player', function (msg) {

                if (playerId != msg.next_player) {
                    let keys = Object.keys(activePlayerComponents)
                    for (let i = 0; i < keys.length; i++) {
                        $('#' + keys[i]).hide();
                    }
                    $("#next_stone_button").hide();
                } else {
                    let keys = Object.keys(activePlayerComponents)
                    for (let i = 0; i < keys.length; i++) {
                        $('#' + keys[i]).show();
                    }
                    $("#next_stone_button").show();
                }
            });

            socket.on('finishArea_others', function (msg) {
                for (let i = 0; i < consolidatedDropspace.length; i++) {
                    $("#draggable_" + consolidatedDropspace[i]).remove()
                }
                dropspace = [];
                consolidatedDropspace = [];

                $('#finishArea_others').empty()

                $('#css_loader_screen').removeClass('is-active');

                let keys = Object.keys(msg.data);

                for (let a = 0; a < keys.length; a++) {
                    let playerField = msg.data[keys[a]];
                    $('#finishArea_others').append("<div class='playerName'>Player " + msg.names[keys[a]] + "</div>");
                    let jokers = [];
                    let jokersId = [];
                    for (let i = 0; i < playerField.length; i++) {
                        let serie = playerField[i];
                        var table = $('<table>').addClass('finish_table');
                        var row = $('<tr>').addClass('finish_row');
                        for (let j = 0; j < serie.length; j++) {
                            var dockElement = null;
                            if (j == 0 || j == serie.length - 1) {
                                dockElement = $('<td>').addClass('finish_col');
                                let appendix = "_end";
                                if (j == 0)
                                    appendix = "_start";
                                let id = "o_droppable_series_" + i + "_" + a + "_" + appendix;
                                let text =
                                    "<div id='" + id + "' class='ui-widget-header' style='width:30px;height:30px;float:left;border-width: 1px;border-color: #FEFEFE'>" +
                                    "<span style='padding:5px;position:absolute'>&nbsp;</span></div>";
                                dockElement.append(text);

                                activePlayerComponents[id] = id


                            }

                            if (j == 0) {
                                row.append(dockElement);
                            }
                            var col = $('<td>').addClass('finish_col');
                            let stone = serie[j]
                            let text = ''

                            if (stone.value == 0) { //Joker
                                let id = "o_droppable_series_" + i + "_" + a + "_" + stone.id;
                                text = "<div id='" + id + "' class='ui-widget-header joker' style='display: table;'>" +
                                    "<div style='display: table-cell; vertical-align: middle;'>&nbsp;</div></div>";
                                jokers.push(id)
                                jokersId.push(stone.id)
                                activePlayerComponents[id] = id
                            } else {
                                text = text +
                                    "<div class='" + stone.color.toLowerCase() + "_stone' style='display: table;'><div style='display: table-cell; vertical-align: middle;'>" + stone.value + "</div></div>";
                            }

                            col.append(text);
                            row.append(col);

                            if (j == serie.length - 1) {
                                row.append(dockElement);
                            }

                        }
                        table.append(row);
                        $('#finishArea_others').append(table);

                    }

                    for (let i = 0; i < jokers.length; i++) {
                        let currentKey = keys[a]
                        $("#" + jokers[i]).droppable({
                            drop: function (event, ui) {
                                socket.emit('replace_joker',
                                    {
                                        'stone': removeDraggable(ui.draggable[0].id),
                                        'playerId': currentKey,
                                        'joker': jokersId[i]
                                    });
                                $("#" + ui.draggable[0].id).remove()
                            }
                        });
                    }

                    for (let i = 0; i < playerField.length; i++) {
                        let listindex = i
                        let currentKey = keys[a]
                        let playerIndex = a
                        $("#o_droppable_series_" + i + "_" + playerIndex + "_" + '_start').droppable({
                            drop: function (event, ui) {
                                socket.emit('add_stone', {
                                    'stone': removeDraggable(ui.draggable[0].id),
                                    'row': listindex,
                                    'appendix': '_start',
                                    'playerId': currentKey
                                });

                                $("#" + ui.draggable[0].id).remove()
                            }
                        });
                        $("#o_droppable_series_" + i + "_" + playerIndex + "_" + '_end').droppable({
                            drop: function (event, ui) {
                                socket.emit('add_stone', {
                                    'stone': removeDraggable(ui.draggable[0].id),
                                    'row': listindex,
                                    'appendix': '_end',
                                    'playerId': currentKey
                                });

                                $("#" + ui.draggable[0].id).remove()
                            }
                        });
                    }

                }

            });

            socket.on('game_message', function (msg) {
                $('#css_loader_screen').removeClass('is-active');
                $('#gameMessage').empty()
                message = msg.data;
                $('#gameMessage').append(message);
            });

            socket.on('requestDeck', function () {
                socket.emit('fetchdeck');
            });


            socket.on('remaining_piles', function (msg) {
                $('#remaining_piles').empty()
                let piles = msg.data
                for (let i = 0; i < piles.length; i++) {
                    let text =
                        "<div style='width:7px;height:7px;float:left;background-color:#CCCCCC;margin:2px'></div>";
                    $('#remaining_piles').append(text);
                }
            });

            socket.on('list_all_games', function (msg) {
                $('#list_all_games').empty()
                let stats_entry_keys = Object.keys(msg)
                if (stats_entry_keys.length == 0) {
                    return
                }
                let table = $('<table>').addClass('games_table');
                let hrow = $('<tr>').addClass('games_hrow');

                let headers = ["Spiel-Id","Anzahl Spieler","Aktive Spieler","Status"];
                for (let i=0;i<headers.length;i++){
                    let hcol = $('<th>').addClass('games_hcol');
                    hcol.append(headers[i]);
                    hrow.append(hcol);
                }

                table.append(hrow);

                for (let i = 0; i < stats_entry_keys.length; i++) {
                    let stats_entry = msg[stats_entry_keys[i]];
                    let row = $('<tr>').addClass('games_row');

                    let col = $('<td>').addClass('games_col');
                    let text =
                        "<div style='margin:2px;float:left'>" + stats_entry['id'] + "</div>";
                    col.append(text);
                    col.click(function () {

                        $('#game_id').val(stats_entry['id']);
                        return false;
                    });
                    row.append(col);

                    let values = [stats_entry['num_players'],stats_entry['joined'],stats_entry['status']];
                    for (j=0;j<values.length;j++){
                        col = $('<td>').addClass('games_col');
                        text =
                            "<div style='margin:2px;float:left'>" + values[j] + "</div>";
                        col.append(text);
                        row.append(col);
                    }

                    table.append(row);
                }

                $('#list_all_games').append(table);
            });

            socket.on('stats', function (msg) {
                $('#css_loader_screen').removeClass('is-active');
                $('#stats').empty()
                let stats_entry_keys = Object.keys(msg)
                let table = $('<table>').addClass('stats_table');
                let hrow = $('<tr>').addClass('stats_hrow');

                let headers = ["SpielerIn","Punkte gesamt","davon ausgelegt","davon angelegt","davon in der Hand"]
                for (let i=0;i<headers.length;i++){
                    let hcol = $('<th>').addClass('stats_hcol');
                    hcol.append(headers[i]);
                    hrow.append(hcol);
                }
                table.append(hrow);

                for (let i = 0; i < stats_entry_keys.length; i++) {
                    let stats_entry = msg[stats_entry_keys[i]];
                    let row = $('<tr>').addClass('stats_row');
                    let col = $('<td>').addClass('stats_col');
                    let text = "";

                    if (stats_entry['has_finished'] == true) {
                        text =
                            "<div style='margin:2px;float:left;font-weight: bolder'>" + stats_entry['player'] + "*</div>";
                    } else {
                        text =
                            "<div style='margin:2px;float:left'>" + stats_entry['player'] + "</div>";
                    }
                    col.append(text);
                    row.append(col);

                    let values = [stats_entry['total'],stats_entry['finished'],stats_entry['added'],stats_entry['still_in_deck']]

                    for (let j=0;j<values.length;j++){
                        col = $('<td>').addClass('stats_col');
                        text =
                            "<div style='margin:2px;float:left'>" + values[j] + "</div>";
                        col.append(text);
                        row.append(col)
                    }


                    table.append(row);
                }

                $('#stats').append(table);
            });

            $('form#next_stone').submit(function (event) {
                $('#css_loader_screen').addClass('is-active');
                socket.emit('next_stone');
                return false;
            });

            $('form#init_game').submit(function (event) {
                socket.emit('init_game', {data: $('#nr_players').val()});
                return false;
            });

            $('form#getdeck').submit(function (event) {
                socket.emit('getdeck', {gameId: $('#game_id').val(), playerName: $('#player_name').val()});
                return false;
            });

            $('form#print_stats').submit(function (event) {
                $('#css_loader_screen').addClass('is-active');
                socket.emit('print_stats');
                return false;
            });


            $('form#publish_stones').submit(function (event) {
                /*
                check for overlap with drop zone
                 */

                consolidatedDropspace = [];

                for (let i = 0; i < dropspace.length; i++) {
                    if (isOverlap('#drop_zone', "#draggable_" + dropspace[i])) {
                        consolidatedDropspace.push(dropspace[i]);
                    }
                }

                consolidatedDropspace.sort(function (a, b) {
                    return $("#draggable_" + a).offset().left - $("#draggable_" + b).offset().left
                });

                $('#css_loader_screen').addClass('is-active');
                socket.emit('publish_stones', {data: consolidatedDropspace});

                for (let i = 0; i < consolidatedDropspace.length; i++) {
                    $("#draggable_" + consolidatedDropspace[i]).remove()
                }
                dropspace = [];
                consolidatedDropspace = [];
                return false;
            });

            $("#droppable").droppable({
                drop: function (event, ui) {
                    $('#css_loader_screen').addClass('is-active');
                    socket.emit('droppedstone', {data: ui.draggable[0].id});
                    $(this)
                        .addClass("ui-state-highlight")
                        .find("p")
                        .html("Dropped!");
                }
            });

            $("#droppable_temp").droppable({
                drop: function (event, ui) {
                    temp_dropped = ui.draggable[0].id
                    $('#css_loader_screen').addClass('is-active');
                    socket.emit('droppedstone_temp', {data: ui.draggable[0].id});

                }
            });

            $("#drop_zone").droppable({
                drop: function (event, ui) {
                    dropspace.push(removeDraggable(ui.draggable[0].id))
                }
            });


        });


    </script>
</head>
<body>

<div id="gameMessage">Nachrichtenbox</div>

<div id="startForms">
    <div id="initGameForm">
        <form id="init_game" method="POST" action='#'>
            <div class="form__group field">
                <input type="text" name="nr_players" id="nr_players" placeholder="Anzahl Spieler">
                <input type="submit" value="Bereite Spiel vor">
            </div>

        </form>
    </div>

    <div id="getDeckForm">
        <form id="getdeck" method="POST" action='#'>
            <input type="text" name="game_id" id="game_id" placeholder="Spiel Code">
            <input type="text" name="player_name" id="player_name" placeholder="Name der SpielerIn ">
            <input type="submit" value="Starte Spiel">
        </form>
    </div>
    <div id="statsButton">
        <form id="print_stats" method="POST" action='#'>
            <input id="print_stats" type="submit" value="Stats">
        </form>
    </div>
</div>

<div id="statistikInfo" style="float:left;margin-left:30px">
    <div id="stats" style="width:auto;float:left;clear:right"></div>
    <div id="list_all_games" style="width:auto;float:left"></div>
</div>


<div style="clear:both;margin-top:20px;">
    <div id="remaining_piles" style="width:150px;float:left;"></div>

    <div id="droppable_temp">
        <span style="color:#AAAAAA;font-style: normal;font-weight: normal">Runde beenden</span>
    </div>

    <div id="tempSpace" style="float:left;clear:right;width:auto"></div>

    <form id="next_stone" method="POST" action='#' style="clear:both;margin-top:20px">
        <input id="next_stone_button" type="submit" value="Stein abheben">
    </form>
</div>


<div id="deck_zone">
    <div id="mydeck" style="width:200px;float:left;margin-right:20px"></div>

    <div id="drop_zone">
        <div id="drop_zone_text">Auslagefl&auml;che</div>
        <form id="publish_stones" method="POST" action='#'>
            <input type="submit" value="Ablegen">
        </form>
    </div>
</div>

<div id="finishArea_others"></div>

<div id="sortDeck"></div>





<div class="loader loader-default" id="css_loader_screen"></div>


</body>
</html>